/* author: holy frege
 * date: Wednesday, March 29, 2023
 */
/* ==========================================================================
   everything
   ======================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Inter');
/* ==========================================================================
   elements
   ====================================================================== */
body {
    width: 100%;
    height: 100%;
    font-family:  -apple-system,Inter, sans-serif;
    font: 13px/1.5 Inter;
    color: #595959;
}
/* h1{ */
/*     color: #222; */
/*     margin:0 0 20px; */
/* } */
p{
    margin:0 0 20px;
    line-height: 1.8;
}

a{
    color: #0a855f;
    cursor: pointer;
    text-decoration: none;
}
/* ==========================================================================
   selector
   ======================================================================== */
.content{
    margin: 0px 0px 0px 0px;
    height: 900px;
    width:1200px;
    display: flex;
    flex-basis: column;
    flex-wrap: wrap;
}

header {
    width:100%;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2px;
    border-bottom: 1px #228 solid;    
}
header a{
    display: flex;
    direction: row;
}
header img {
    width:35px;
    height:35px;
    margin-top: 17px;
    margin-right: 20px;
    margin-left: 20px;

}

header span{
    color: #a11;
}

header small{
    margin-left: 12px;
}

#outline-container-main {
    height: 850px;
    widht: 100%;
    display: flex;
    flex-direction: row;    
}
#aside{
    display:none;
}

#outline-container-aside {
    width: 260px;
    height: 95%;
    margin-left: 70px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;    
}

#outline-container-page {
    margin-left: 0px;
    padding-left: 50px;
    width: 780px;
    height: 95%;
    border-left: 1px solid #E3e3e3;
    overflow: auto;
}

#outline-container-about span{
    margin-top: 5px;
    margin-right: 10px;
    color:#822;
}
#outline-container-about .org-ul{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border: 1.2px dotted #333;
    border-radius: 5px;
    background-color: #f7f7fa;    
}
#outline-container-about hr{
    margin-left: 0px;
    width:50%;
    border-top: 1px dashed red;
}
#about{
    display:none;
}
#outline-container-time span{
    margin-right: 10px;    
    color:#282;
}
#outline-container-time .org-ul{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border: 1.2px dotted #333;
    border-radius: 5px;
    background-color: #f7f7fa;    
}
#time{
    display:none;    
}

#outline-container-time hr{
    margin-left: 0px;
    width:75%;
    border-top: 1px dashed green;
}

#outline-container-skills span{
    margin-right: 10px;    
    color:#282;
}
#outline-container-skills .org-ul{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border: 1.2px dotted #333;
    border-radius: 5px;
    background-color: #f7f7fa;    
}
#skills{
    display:none;
}
#outline-container-skills hr{
    margin-left: 0px;
    width:80%;
    border-top: 1px dashed green;
}

#outline-container-editor span{
    margin-right: 10px;    
    color:#282;
}
#outline-container-editor .org-ul{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border: 1.2px dotted #333;
    border-radius: 5px;
    background-color: #f7f7fa;    
}
#editor{
    display:none;
}
#outline-container-editor hr{
    margin-left: 0px;
    width:35%;
    border-top: 1px dashed green;
}

#outline-container-link span{
    margin-right: 10px;    

}
#outline-container-link a{
    margin-left: 20px;
    line-height: 1.8;
}
#postamble{
    display:flex;
    align-content: center;
    justify-content: center;
}
.article{
    font: 20px/1.5 Inter;    
}
/* ******************************** */
/* 반응형 처리 */
/* ******************************** */

/*
##Device = Tablets, Ipads (landscape),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {

//CSS

}

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

//CSS

}
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/
@media (min-width: 320px) and (max-width: 480px) {
    body{
	width:330px;
    }
    header {
	display: block;
	border-bottom: 1px #228 solid;
	height: 80px;

    }
    header h1{
	margin-bottom: 0px;
    }
    header small {
	margin-left: 70px;
	margin-top:0px;
    }
    #outline-container-main{
	overflow: none;
	display:block;
	height:100%

    }
    #content{
	height: 100%;
    }
    
    #aside{
	
    }
    .outline-4 .article{
	background: #2483;
	padding-left: 50px;

    }
    .outline-4 .outline-text-4{
	white-space: normal;
	width:330px;
	
    }
    .outline-4 h4{
	width:330px;
    }
    .outline-4 ul{
	padding-left: 10px;
    }
    ul img{
	width:300px;
    }
    .outline-4 ul .outline-text-5{
	white-space: normal;
	width:330px;
	
    }
    #outline-container-page{
	display:block;
    }
    #postamble{
	width: 330px;
	margin-left: 50px;
    }
}
